@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/* font-family: 'Inter', sans-serif; */

/*=================
   Table of Contents
   1. Global variables
   2. Layout
   3. Components
   4. Media Queries
===================*/

/*===============
1. Global variables
===============*/

:root{

    /* Desktop and Mobile widths */
    --desktopWidth: 1440px;
    --mobileWidth: 375px;

    /* Colors */
    --darkBlue: hsl(240, 38%, 20%);
    --grayishBlue: hsl(240, 18%, 77%);
    --backgroundColor: #fffefe;

    /* Typography */
    --fontFamily: 'Inter', sans-serif;
    --fontSize: 32px;
    --fontSizeMobile: 18px;
    --heavyWeight: 700;
    --middleWeight: 500;
    --lightWeight: 300;
}

/*===============
2. Layout
===============*/

body{
    font-family: var(--fontFamily);
    margin: 0;
    background-color: var(--backgroundColor);
}

.main-column{
    display: flex;
    flex-direction: column;
    /* background-color: dodgerblue; */   
}


.top-column{
    width:100%;
    height: 320px;
    /* background-color: rgb(129, 113, 113); */
    
}

@media screen and (min-width: 600px){
    .top-column{
        height: 612px;
    }
}

.bottom-column{
    display: block;
    width:100%;
    height: 320px;  
    
}

@media screen and (min-width: 600px){
    .bottom-column{
        height: 612px;
    }
}


/*===============
3. Component
===============*/

.arrow-container{
    display: inline-flex;
    position: absolute;
    width:60px;
    height: 30px;
    border-radius: 25px;
    background-color: var(--backgroundColor);
    margin-left: -185px;
    margin-top: 260px;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (min-width: 600px){
    .arrow-container{
        width:100px;
        height: 40px;
        margin-top: 475px;
        margin-left: -310px;
    }
}

@media screen and (min-width: 760px){
    .arrow-container{
        margin-top: 540px;
        margin-left: -355px;
    }
}

@media screen and (min-width: 1025px){
    .arrow-container{
        margin-top: 720px;
        margin-left: -470px;
    }
}

.arrow{
    height: 10px;
    margin-left: 0px;
}

@media screen and (min-width: 600px){
    .arrow{
        height: 20px;
        margin-left: 0px;
    }
}

.img-pattern-bg{
    width: 300px;
    position: relative;
    margin-left: 15px;
    margin-top: 25px;   
}

@media screen and (min-width: 600px){
    .img-pattern-bg{
        width: 550px;
    }
}

@media screen and (min-width: 760px){
    .img-pattern-bg{
        width: 625px;
        margin-left: 50px;
    }
}

@media screen and (min-width: 1025px){
    .img-pattern-bg{
        width: 865px;
        margin-left: 570px;
        margin-top: 65px;
    }
}

.img-avatar{
    width: 230px;
    position: absolute;
    margin-left: -270px;
    margin-top: 55px;
    border-radius: 5px;
}

@media screen and (min-width: 600px){
    .img-avatar{
        width: 430px;
        position: absolute;
        margin-top: 70px;
        margin-left: -475px;
    }
}

@media screen and (min-width: 760px){
    .img-avatar{
        width: 495px;
        position: absolute;
        margin-top: 70px;
        margin-left: -535px;;
    }
}

@media screen and (min-width: 1025px){
    .img-avatar{
        width: 670px;
        position: absolute;
        margin-top: 160px;
        margin-left: -720px;;
    }
}

.shadow-element{
    box-shadow:0px 1px 1px rgb(216, 212, 212);
}
.img-quote{
    height: 50px;
    position: relative;
    margin-left: 150px;
    margin-top: 20px;
    z-index: -1;
    
}

@media screen and (min-width: 600px){
    .img-quote{
        height: 80px;
        margin-left: 255px;
        margin-top: -100px
    }
}

@media screen and (min-width: 760px){
    .img-quote{
        position: absolute;
        height: 80px;
        margin-left: 320px;
        margin-top: 0px;
    }
}

@media screen and (min-width: 1025px){
    .img-quote{
        position: absolute;
        height: 110px;
        margin-left: 240px;
        margin-top: -300px;
    }
}

.img-curve{
    position: relative;
    height: 90px;
    margin-top: 140px;   
}

@media screen and (min-width: 600px){
    .img-curve{
        height: 140px;
        margin-top: 130px;
    }
}

@media screen and (min-width: 1025px){
    .img-curve{
        height: 340px;
        margin-top: 360px;
    }
}

.main-text-container{
    position: relative;
    text-align: center;
    width:320px;
    height: 75px;
    margin-top: -45px;
    margin-left: 20px;
}

@media screen and (min-width: 600px){
    .main-text-container{
        width:400px;
        height: 150px;
        margin-top: -15px;
        margin-left: 90px;
        font-size: 24px;
    }
}

@media screen and (min-width: 760px){
    .main-text-container{
        margin-top: 5px;
        margin-left: 180px;
        font-size: 24px;
    }
}

@media screen and (min-width: 1025px){
    .main-text-container{
        position: absolute;
        width:650px;
        margin-top: -250px;
        margin-left: 150px;
        font-size: var(--fontSize);
    }
}

.name{
    display: relative;
}

.tanya{
    visibility: visible;
    position: absolute;
}

.john{
    visibility: hidden;
    position: absolute; 
}


/*===============
4. Typography
===============*/

.main-text-container > p {
    font-size:var(--fontSizeMobile);
    color: var(--darkBlue);
    font-weight: var( --middleWeight);
}

#user-name{
    font-weight: var( --heavyWeight);

}
#user-name::after{
    content: 'UX Engineer';
    position: absolute;
    margin-left: -90px;
    margin-top: 22px;
    font-size: 0.77em;
    font-weight: var(--lightWeight);
    color: var(--grayishBlue);
    
}

@media screen and (min-width: 600px){
    #user-name::after{
        margin-left: -120px;
    }
}

@media screen and (min-width: 760px){
    #user-name::after{
        margin-top: 28px;
    }
}

@media screen and (min-width: 1025px){
    #user-name::after{
        margin-top: 35px;
        margin-left: -170px;
    }
}